    font-size: 3rem;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 0%;
    height: 0%;
    border-style: solid;
}

#arrow-left{
    border-width: 30px 40px 30px 0px;
    border-color: transparent #111 transparent transparent;
    margin-left: 5px;
}
#arrow-right{
    border-width: 30px 0px 30px 40px;
    border-color: transparent transparent transparent #111;
    margin-right: 30px;
    right: 0%;
}
